# A simple configuration file for monitoring the local host
# This can serve as an example for configuring other servers;
# Custom services specific to this host are added here, but services
# defined in nagios2-common_services.cfg may also apply.
# 

define host{
        use                     generic-host            ; Name of host template to use
        host_name               xmage
	check_period		24x7
        alias                   mage-server
        address                 ec2-54-218-39-90.us-west-2.compute.amazonaws.com
        }

# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       xmage
        service_description             Disk Space
        check_command                   check_all_disks!20%!10%
        }



# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 15 users, critical
# if > 30 users.

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       xmage
        service_description             Current Users
        check_command                   check_users!15!30
        }


# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 100 processes, critical if
# > 200 processes.

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       xmage
        service_description             Total Processes
		check_command                   check_procs!100!200
        }



# Define a service to check the load on the local machine. 

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       xmage
        service_description             Current Load
		check_command                   check_load!5.0!4.0!3.0!10.0!6.0!4.0
        }


define service{
	use				generic-service
	host_name			xmage
	service_description		XMage Log Monitoring
	check_command			check_log -F /usr/games/mage_server/mageserver.log -O /usr/games/mage_server/mageserver.log.old -q ?
	is_volatile			1
	max_check_attempts		1
	check_period			24x7
	}

define service{
	use				generic-service
	host_name		xmage
	service_description		Monitors TCP on appropriate ports
	check_command			check_tcp!$HOSTADDRESS!42171
	}
